h1, body, html {
    margin: 0 auto;
    padding: 0;
    display: block;
}

a {
    text-align: center;
    font-size: 16rem;
    text-shadow: 5px 5px 5px blue;
    text-decoration: none;
    display: block;
}

a:hover {
    text-decoration: underline;
}