html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
}

div {
    font-family: 'Roboto', sans-serif;
    background-color: orangered;
    color: white;
    height: 200px;
    flex-basis: auto;
    width: 500px;
    border: 1px solid black;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex1 {
    flex-grow: 1;
    flex-shrink: 1;
}

.flex2 {
    flex-grow: 8;
    flex-shrink: 8;
}