html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    text-transform: uppercase;
    border: 2px solid hotpink;
    font-size: 5rem;
}

span {
    vertical-align: -50px;
}