body, h1  {
    margin: 0;
    padding: 0;
}

h1, ul, li, p {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../../000_img/fog.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}

ul {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    list-style: none;
}

li {
    text-align: center;
    margin: 1rem;
    background-color: rgba(255,165,0,0.40);
    width: 150px;
    padding: 1rem;
    border-radius: 25px;
}

h1 {
    color: #094562;
    text-align: center;
    font-size: 4rem;
    font-weight: normal;

}

article {
    height: 15.6rem;
    text-align: center;
    margin: 1rem;
}

.box1 {
    background-color: rgba(183,210,131,0.25);

}

.box2 {
    background-color: rgba(133,185,211,0.25);

}

.box3 {
    background-color: rgba(219,178,157,0.25);

}

.box4 {
    background-color: rgba(222,165,202,0.25);

}

li:hover {
    background-color: rgba(255,165,0,1);
}