html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background-color: deepskyblue;
}

li {
    margin: 1em;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.navigation {
    padding: 0;
}

.navigation a {
    padding: 15px;
    box-sizing: border-box;
}

.navigation a:hover {
    background: midnightblue;
}