html, body {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

#atf {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../000_img/Paradise-Island-5.jpg");
    width: 100%;
    height: 100vh;
    background-size: coverz;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

h1 {
    font-size: 10rem;
    color: #011f4b;
    text-shadow: 10px 20px 20px red;
}