html, body, nav, main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 15px;
}

body {
    border: 4px solid black;
    width: 60%;
    height: 400px;
    margin: 0 auto;
    position: relative;
    font-size: 1.5rem;
}

nav {
    position: absolute;
    max-width: 300px;
}

main {
    margin-left: 15%;
    width: 80%;
    border-left: 2px dashed gray;
    padding-left: 20px;
    height: 80%;
}

li {
    padding-bottom: 10px;
}

