html, body, div {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0 auto;
}

div {
    color: white;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.c1 {
    background-color: midnightblue;
    height: 150px;
}

.c2 {
    background-color: deepskyblue;
    height: 150px;
}

.c3 {
    background-color: powderblue;
    height: 150px;
}