body {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    /*align-items: stretch;*/
}

.c1 {
    width: 25%;
    height: auto;
}

.c4 {
    display: flex;
    flex-flow: column wrap;
    width: 75%;
}

