html {
    background-color: mediumpurple;
}

body {
    width: 1000px;
    border: 5px solid black;
    height: 1300px;
    background-color: #32ff2d;
    margin: 0 auto;
    padding: 2%;
}

img {
    margin: 0 auto;
    display: block;
    border-radius: 120%;
    border: 30px groove orange;
    height: 400px;
    width: 700px;
}

#primary {
    font-family: "Arial";
    font-weight: 900;
    font-size: 45px;
    color: blue;

}

p {
    font-family: Arial;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 1%;
}

#secondary {
    font-family: "Arial";
    font-weight: 900;
    font-size: 45px;
    color: red;
}