body, section, main, html, h1, button, h2, p, section {
    margin: 0;
    padding: 0;
    font-family: 'Cantarell', sans-serif;
    color: ghostwhite;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 2.8rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo, nav, a {
    width: 26.2rem;
    /*background-color: red;*/
    height: 80%;
    margin: 0 1%;
}

nav {
    width: 30rem;
}

svg, a {
    height: 100%;
    width: 2.5rem;
    fill: white;
    padding: 0;
    margin: 0;
    /*border: 2px solid hotpink;*/
}

.right, a {
    /*border: 2px solid hotpink;*/
    width: 6rem;
    border-radius: 20px;
}

.right:hover {
    fill: #00bfff;
    background-color: rgba(229,248,255,0.4);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 1.2rem;
}

#logo > a {
    width: auto;
    text-decoration: none;
    color: currentColor;
}

#logo > a:hover {
    color: #00bfff;
}

.left {
    fill: currentColor;
}

#idx-atf {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-image: url("../../000_img/background-photolaptop.jpg");
    background-color: #757575;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}

.idx-center {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

button {
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid ghostwhite;
    border-radius: 5px;
    padding: 5px;
    margin: 2rem auto;
    font-size: 1rem;
    background-color: transparent;
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: normal;
    margin: 3.2rem;
}

button:hover {
    background-color: ghostwhite;
    color: black;
}

h2 {
    margin: 0;
    font-size: 1.2rem;
}

#mobile {
    display: none;
}