div {
    width: 400px;
    height: 400px;
    background-color: red;
    border-radius: 10px;
    border: 30px groove orange;
    margin: 20px auto;
    background-image: url("../../000_img/retro.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

.div2 {
    box-sizing: border-box;
}